[submodule "Modules/C--Toggl-Api-Client"]
	path = Modules/C--Toggl-Api-Client
	url = https://github.com/johnbabb/C--Toggl-Api-Client.git
	branch = master
[submodule "Modules/JiraRestClient"]
	path = Modules/JiraRestClient
	url = https://github.com/dstj/JiraRestClient.git
	branch = master
